<form [formGroup]="formulario" (ngSubmit)="createCliente()">
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Role</ion-label>
    <ion-select formControlName="rol">
      <ion-select-option value="0">User</ion-select-option>
      <ion-select-option value="1">Admin</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Country ID</ion-label>
    <ion-input formControlName="country_id"></ion-input>
  </ion-item>
  <ion-button expand="full" type="submit">Crear Cliente</ion-button>
</form>
